<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <a href="/admin/" class="btn btn-secondary btn-sm mb-3">
            <i class="fa-solid fa-arrow-left"></i> Back
        </a>
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header text-center">
                        <p class="fs-4"> Add Category</p>
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold ">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold " >[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/saveCategory" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label>Enter catgory</label>
                                <input type="text" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Status</label>
                                <div class="form-check">
                                    <input checked class="form-check-input" type="checkbox" name="isActive"  value="true" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="isActive" value="false" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Inactive
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label>Upload Image</label>
                                <input type="file"  name="file" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary col-md-12 mt-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
             <div class="card ">
                 <div class="card-header text-center fs-4">Category Details</div>
                 <div class="card-body">
                     <table class="table">
                         <thead>
                         <tr>
                             <th scope="col">serial number</th>
                             <th scope="col">Category</th>
                             <th scope="col">Status</th>
                             <th scope="col">Image</th>
                             <th scope="col">Action</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr th:each="category,c: ${categories}">


                             <th scope="row">[[${c.count}]]</th>
                             <td>[[${category.name}]]</td>
                             <td>[[${category.isActive}]]</td>
                             <td><img th:src="@{'/img/category_img/' + ${category.imageName}}" width="50px" height="50px"></td>
                             <td>
                                 <a th:href="@{'/admin/editCategory/' + ${category.id}}" class="btn btn-primary btn-sm">
                                     <i class="fa-solid fa-pen-to-square fa-1x"></i>
                                     Edit
                                 </a>
                                 <a th:href="@{'/admin/deleteCategory/' + ${category.id}}" class="btn btn-danger btn-sm">
                                     <i class="fa-solid fa-trash fa-1x"></i>
                                     Delete
                                 </a>
                             </td>

                         </tr>

                         </tbody>
                     </table>
                     <div class="row">
                         <div class="col-md-4">Total Products : [[${totalElements}]]</div>
                         <div class="col-md-6">
                             <th:block th:if="${totalPages>0}">
                                 <nav aria-label="Page navigation example">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <a class="page-link" th:href="@{'/admin/category?pageNo='+${pageNo-1}}" th:classappend="${pageNo==0} ? 'disabled' :''" aria-label="Previous">
                                                 <span aria-hidden="true">&laquo;</span>
                                             </a>
                                         </li>
                                         <li class="page-item" th:each="i:${#numbers.sequence(1,totalPages)}" th:classappend="${i==pageNo+1} ? 'active' :''"><a class="page-link" th:href="@{'/admin/category?pageNo='+${i-1}}">[[${i}]]</a></li>

                                         <li class="page-item">
                                             <a class="page-link" th:href="@{'/admin/category?pageNo='+${pageNo+1}}" th:classappend="${pageNo+1==totalPages} ? 'disabled' :''" aria-label="Next">
                                                 <span aria-hidden="true">&raquo;</span>
                                             </a>
                                         </li>
                                     </ul>
                                 </nav>
                             </th:block>
                         </div>
                     </div>
                 </div>
             </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>