<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header text-center">
                        <p class="fs-4">" Add Category</p>
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold ">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold " >[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/saveCategory" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label>Enter catgory</label>
                                <input type="text" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Status</label>
                                <div class="form-check">
                                    <input checked class="form-check-input" type="checkbox" name="isActive"  value="true" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="isActive" value="false" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Inactive
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label>Upload Image</label>
                                <input type="file"  name="file" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary col-md-12 mt-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
             <div class="card ">
                 <div class="card-header text-center fs-4">Category Details</div>
                 <div class="card-body">
                     <table class="table">
                         <thead>
                         <tr>
                             <th scope="col">serial number</th>
                             <th scope="col">Category</th>
                             <th scope="col">Image</th>
                             <th scope="col">Action</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr>
                             <th scope="row">1</th>
                             <td>Mark</td>
                             <td>Otto</td>
                             <td>@mdo</td>
                         </tr>

                         </tbody>
                     </table>
                 </div>
             </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>