<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <section>

        <div class="container-fluid p-5 bg-primary mt-5">
            <div class="row justify-content-center ">
                <div class="col-md-3 ">
                    <form >
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="ch">
                            <button class="btn btn-light text-dark ms-3 col-md-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                    </form>
            </div>

        </div>

        </div>

        <div class="container-fluid mt-4">
            <div class="row">

                <!-- Categories -->
                <div class="col-md-2">
                    <div class="card category-card shadow-sm p-3 mb-5">
                        <div class="card-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                    Categories
                                </a>
                                <a href="#" class="list-group-item list-group-item-action" th:each="category:${categories}">
                                    [[${category.name}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Products -->
                <div class="col-md-10">
                    <div class="card shadow-sm p-4 mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <p class="fs-3 text-center fw-bold text-primary">Products</p>
                            <div class="row g-4">
                                <div class="col-md-3" th:each="product:${products}">
                                    <div class="card product-card p-3">
                                        <img th:src="@{'/img/product_img/'+${product.image}}" alt="" class="img-fluid mb-3">
                                        <p class="fs-5 text-center">[[${product.title}]]</p>
                                        <div class="row text-center">
                                            <p class="fs-6 fw-bold">
                                                <span>₹ [[${product.discountPrice}]]</span>
                                                <span class="text-decoration-line-through text-secondary">₹ [[${product.price}]]</span>
                                                <span class="fs-6 text-success">[[${product.discount}]]% off</span>
                                            </p>
                                            <a  href="/product" class="btn btn-primary col-md-8 mx-auto">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>>

    </section>
</body>
</html>